"""
枚举辅助函数

此文件由 fastapi-enum-dict 自动生成
"""
from {{ base_dir }}.data.enum_labels import get_enum_label


# 辅助函数将在这里自动生成
# 例如:
# def get_order_status_label(value: int) -> str:
#     return get_enum_label("OrderStatus", value)
